<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>老媽的私房錢</title>
  <script src="https://kit.fontawesome.com/53a6e33c25.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>

<body style="background:#F9E3DE;">

  <nav class="navbar navbar-light" style="background-color: #80645A;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/" style="color:#F9E3DE;">
        <img src="../../public/photos/salary.png" alt="" width="30" height="24" class="d-inline-block align-top">
        Expense-Tracker
      </a>
    </div>
  </nav>

  {{{body}}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
    crossorigin="anonymous"></script>
</body>

</html>